*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    transition: opacity 0.5s ease;
}

button{
    height: 40px;
}